<%= semantic_form_for [@repository, @environment] do |f| %>
  <div class="row">
    <div class="col-md-5">
      <%= f.inputs "Settings for #{@environment}" do %>
        <%= f.input :default_ref %>
        <%= f.input :required_contexts %>
        <%= f.input :in_channel %>
      <% end %>
    </div>
    <div class="col-md-offset-1 col-md-6">
      <%= f.inputs 'Auto Deployment' do %>
        <p class="help-block">SlashDeploy can automatically create GitHub Deployments on your behalf when you push to a branch on GitHub. If you specify any required commit status contexts, then SlashDeploy will wait for those to pass before triggering the deployment.</p>
        <%= f.input :auto_deploy_ref %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="pull-right">
        <%= f.actions do %>
          <%= f.action :cancel, as: :link, button_html: { class: 'btn btn-default btn-embossed' } %>
          <%= f.action :submit, as: :button, button_html: { class: 'btn btn-success btn-embossed' } %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
