<!DOCTYPE html>
<html>
  <head>
    <title>SlashDeploy</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.1.0";
        analytics.load("<%= Rails.configuration.x.segment.write_key %>");
        analytics.page()
      }}();
    </script>
  </head>
<body>
  <nav class="navbar navbar-static-top navbar-inverse navbar-lg navbar-embossed" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-9">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to root_url, class: 'navbar-brand' do %>
          SlashDeploy<small class="beta">beta</small>
        <% end %>
      </div>
      <div class="navbar-collapse collapse" id="navbar-collapse-9">
        <ul class="nav navbar-nav">
          <li class="<%= 'active' if current_page?(documentation_path) %>"><%= link_to 'Documentation', documentation_path %></li>
          <% if current_user.present? %>
            <li class="<%= 'active' if current_page?(teams_path) %>"><%= link_to 'Teams', teams_path %></li>
          <% end %>
        </ul>

        <ul class="nav navbar-nav navbar-right">
        <% if current_user.present? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="https://github.com/<%= current_user.username =%>.png?size=128" style="width: 18px; margin-right: 10px;"/> <%= current_user.username =%>
            </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to 'Logout', logout_path, method: :post %>
              </div>
          </li>
        <% else %>
            <li><%= link_to 'Login', login_path %></li>
        <% end %>
        </ul>
        <!--<form class="navbar-form navbar-right" role="form">
          <button type="submit" class="btn btn-success">Sign in</button>
          </form>-->

      </div><!--/.navbar-collapse -->
    </div>
  </nav>
  <div class="container">

<%= yield %>

  </div>
</body>
</html>
