<!DOCTYPE html>
<html>
  <head>
    <title>SlashDeploy</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
<body>
  <nav class="navbar navbar-static-top navbar-lg" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <%= link_to root_url, class: 'navbar-brand' do %>
          SlashDeploy<small class="beta">beta</small>
        <% end %>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-collapse-3">
        <ul class="nav navbar-nav">           
          <!-- <li></li> -->
        </ul>
        <!--
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Eric Holmes <b class="caret"></b></a>
            <span class="dropdown-arrow"></span>
            <ul class="dropdown-menu">
              <li><a href="#">My Account</a></li>
              <li class="divider"></li>
              <li><a href="#">Sign out</a></li>
            </ul>
          </li>
        </ul>
        -->
      </div><!-- /.navbar-collapse -->
    </div>
  </nav><!-- /navbar -->
  <div class="container">

<%= yield %>

  </div>
</body>
</html>
